USE [master]
GO
/****** Object:  Database [datawarehouse]    Script Date: 12/11/2024 23:50:08 ******/
CREATE DATABASE [datawarehouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'datawarehouse', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\datawarehouse.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'datawarehouse_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\datawarehouse_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [datawarehouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [datawarehouse]
GO
/****** Object:  Table [dbo].[DimBranch]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBranch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[Branch] [char](1) NULL,
	[City] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerType] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Quarter] [int] NULL,
	[Month] [int] NULL,
	[Day] [int] NULL,
	[DayOfWeek] [nvarchar](10) NULL,
	[WeekOfYear] [int] NULL,
	[IsWeekend] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPayment]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPayment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductLine] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 12/11/2024 23:50:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[InvoiceID] [nvarchar](50) NOT NULL,
	[BranchID] [int] NULL,
	[CustomerID] [int] NULL,
	[ProductID] [int] NULL,
	[DateID] [int] NULL,
	[PaymentID] [int] NULL,
	[UnitPrice] [real] NULL,
	[Quantity] [int] NULL,
	[Tax5Percent] [real] NULL,
	[Total] [real] NULL,
	[Time] [time](7) NULL,
	[COGS] [real] NULL,
	[GrossMarginPercentage] [real] NULL,
	[GrossIncome] [real] NULL,
	[Rating] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimBranch] ON 

INSERT [dbo].[DimBranch] ([BranchID], [Branch], [City]) VALUES (16, N'B', N'Mandalay')
INSERT [dbo].[DimBranch] ([BranchID], [Branch], [City]) VALUES (17, N'C', N'Naypyitaw')
INSERT [dbo].[DimBranch] ([BranchID], [Branch], [City]) VALUES (18, N'A', N'Yangon')
SET IDENTITY_INSERT [dbo].[DimBranch] OFF
GO
SET IDENTITY_INSERT [dbo].[DimCustomer] ON 

INSERT [dbo].[DimCustomer] ([CustomerID], [CustomerType], [Gender]) VALUES (21, N'Member', N'Female')
INSERT [dbo].[DimCustomer] ([CustomerID], [CustomerType], [Gender]) VALUES (22, N'Normal', N'Male')
INSERT [dbo].[DimCustomer] ([CustomerID], [CustomerType], [Gender]) VALUES (23, N'Normal', N'Female')
SET IDENTITY_INSERT [dbo].[DimCustomer] OFF
GO
SET IDENTITY_INSERT [dbo].[DimDate] ON 

INSERT [dbo].[DimDate] ([DateID], [Date], [Year], [Quarter], [Month], [Day], [DayOfWeek], [WeekOfYear], [IsWeekend]) VALUES (1, CAST(N'2018-01-01' AS Date), 2018, 1, 1, 1, N'Lunes', 1, 0)
INSERT [dbo].[DimDate] ([DateID], [Date], [Year], [Quarter], [Month], [Day], [DayOfWeek], [WeekOfYear], [IsWeekend]) VALUES (2, CAST(N'2018-01-02' AS Date), 2018, 1, 1, 2, N'Martes', 1, 0)
INSERT [dbo].[DimDate] ([DateID], [Date], [Year], [Quarter], [Month], [Day], [DayOfWeek], [WeekOfYear], [IsWeekend]) VALUES (3, CAST(N'2018-01-03' AS Date), 2018, 1, 1, 3, N'Miércoles', 1, 0)
GO
SET IDENTITY_INSERT [dbo].[DimDate] OFF
GO
SET IDENTITY_INSERT [dbo].[DimPayment] ON 

INSERT [dbo].[DimPayment] ([PaymentID], [PaymentMethod]) VALUES (16, N'Ewallet')
INSERT [dbo].[DimPayment] ([PaymentID], [PaymentMethod]) VALUES (17, N'Cash')
INSERT [dbo].[DimPayment] ([PaymentID], [PaymentMethod]) VALUES (18, N'Credit card')
SET IDENTITY_INSERT [dbo].[DimPayment] OFF
GO
SET IDENTITY_INSERT [dbo].[DimProduct] ON 

INSERT [dbo].[DimProduct] ([ProductID], [ProductLine]) VALUES (31, N'Fashion accessories')
INSERT [dbo].[DimProduct] ([ProductID], [ProductLine]) VALUES (32, N'Health and beauty')
INSERT [dbo].[DimProduct] ([ProductID], [ProductLine]) VALUES (33, N'Electronic accessories')
SET IDENTITY_INSERT [dbo].[DimProduct] OFF
GO
INSERT [dbo].[FactSales] ([InvoiceID], [BranchID], [CustomerID], [ProductID], [DateID], [PaymentID], [UnitPrice], [Quantity], [Tax5Percent], [Total], [Time], [COGS], [GrossMarginPercentage], [GrossIncome], [Rating]) VALUES (N'101-17-6199', 18, 22, 34, 437, 18, 45.79, 7, 16.0265, 336.5565, CAST(N'19:44:00' AS Time), 320.53, 4.76190472, 16.0265, 7)
INSERT [dbo].[FactSales] ([InvoiceID], [BranchID], [CustomerID], [ProductID], [DateID], [PaymentID], [UnitPrice], [Quantity], [Tax5Percent], [Total], [Time], [COGS], [GrossMarginPercentage], [GrossIncome], [Rating]) VALUES (N'101-81-4070', 17, 21, 32, 382, 16, 62.82, 2, 6.282, 131.922, CAST(N'12:36:00' AS Time), 125.64, 4.76190472, 6.282, 4.9)
INSERT [dbo].[FactSales] ([InvoiceID], [BranchID], [CustomerID], [ProductID], [DateID], [PaymentID], [UnitPrice], [Quantity], [Tax5Percent], [Total], [Time], [COGS], [GrossMarginPercentage], [GrossIncome], [Rating]) VALUES (N'102-06-2002', 17, 24, 35, 444, 17, 25.25, 5, 6.3125, 132.5625, CAST(N'17:52:00' AS Time), 126.25, 4.76190472, 6.3125, 6.1)
GO
/****** Object:  Index [idx_FactSales_BranchID]    Script Date: 12/11/2024 23:50:08 ******/
CREATE NONCLUSTERED INDEX [idx_FactSales_BranchID] ON [dbo].[FactSales]
(
	[BranchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_FactSales_CustomerID]    Script Date: 12/11/2024 23:50:08 ******/
CREATE NONCLUSTERED INDEX [idx_FactSales_CustomerID] ON [dbo].[FactSales]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_FactSales_DateID]    Script Date: 12/11/2024 23:50:08 ******/
CREATE NONCLUSTERED INDEX [idx_FactSales_DateID] ON [dbo].[FactSales]
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_FactSales_PaymentID]    Script Date: 12/11/2024 23:50:08 ******/
CREATE NONCLUSTERED INDEX [idx_FactSales_PaymentID] ON [dbo].[FactSales]
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_FactSales_ProductID]    Script Date: 12/11/2024 23:50:08 ******/
CREATE NONCLUSTERED INDEX [idx_FactSales_ProductID] ON [dbo].[FactSales]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([BranchID])
REFERENCES [dbo].[DimBranch] ([BranchID])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[DimCustomer] ([CustomerID])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([DateID])
REFERENCES [dbo].[DimDate] ([DateID])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[DimPayment] ([PaymentID])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[DimProduct] ([ProductID])
GO
USE [master]
GO
